.doctor {
    display: flex;
    background-color: white;
    height: 100vh;
    flex-direction: column;
    margin: 25px;
}

.doctor__container {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid  lightgray;
}

.doctor__name__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;
}

.doctor__address__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
}

.doctor__details__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
}